% -*-erlang-*-
[
 #{id    => "getting-started",
   title => "Getting Started",
   link  => "/getting-started"
  },
 #{id    => "references",
   title => "References",
   link  => "/references"
  },
 #{id    => "todo",
   title => "To Do",
   link  => "https://github.com/gar1t/lambdapad/blob/master/TODO.md"
  },
 #{id    => "ongithub",
   title => "On GitHub",
   link  => "https://github.com/gar1t/lambdapad"
  }
].
